*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

body {
    font-family: Roboto, 'Noto Sans TC', sans-serif, -apple-system;
    line-height: 1.5;
}
a {
    display: block;
    text-decoration: none;
    color: white;
}

@mixin pad {
    @media (max-width: 991px) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}
.container {
    max-width: 1368px;
    margin: 0 auto;
    padding: 0px 36px;
    @include mobile{
        max-width: 767px;
        padding: 0 15px
    }
}
.containerHeader{
    max-width: 1368px;
    margin: 0 auto;
    padding: 0px 36px;
    @include mobile{
        max-width: 767px;
        padding: 0px
    }
}
