$primary: #AA0601;
$primary-light:#AA06010D;
$primary-dark: #650300;
$secondary:#FBF2F2;
$success:#9F1213;
$dark:#000000;
$dark-light:#3a3a3a;
$spacer:8px;

// font size
$font-base: 1rem;
$font-14: $font-base*0.875;
$font-18: $font-base*1.125;
$font-20: $font-base*1.25;
$font-24: $font-base*1.5;
$font-36: $font-24*1.5;
$font-48: $font-base*3;
$font-64: $font-base*4;